a{
    text-decoration: none;
    color: rgb(4, 83, 31);
    padding: 9px;
}

body{
   background-color: rgb(200, 232, 231);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.sub{
    background-color: rgb(241, 36, 5);
}
.foot{
    font-size: 13px;
}
.bodyy{
    font-size: 44px;
}
.middle{
    font-size
}